.App {
  text-align: center;
}


.App-header {
  background-color: rgb(59,62,73);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(228,196,219);
}

@keyframes fadeIn {
from {
  opacity: 0;
  transform: translateY(25%);
}
to {
  opacity: 3;
  transform: translateY(0);
}
}
  
.fade-in {
  animation: fadeIn 1s ease-in-out;
  text-align: center;
  user-select: none;
}

.button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  background-color: #007A87;
  color: rgb(253 219 243);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}


.oldImg {
  display: flex;
  width: 100%;
}

@media (max-width: 500px) {
  .oldImg {
    display: flex;
    width: 250px;
  }
}

@media (min-width: 285px) and (max-width: 500px) {
  .oldImg {
    display: flex;
    width: 250px;
    margin-left: 44px;
  }
}

.container {
  width: 400px;
  height: 500px;
}

@media (max-width: 500px) {
  .container {
    width: 200px;
    height: 300px;
  }
}

.link {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
